body {
	//font-family: georgia, times, serif;
	color: #333;
	font-size: 1.2rem;
	line-height: 1.6em;
	margin: 0;
}

h1{
	font-size: 2rem;
	line-height: 1.3em;
}

p{
	margin-bottom: 1.6em;
}

.container {
	width: 85%;
	max-width: 850px;
	margin: 0 auto;
}

.header {
	background: #333;
	color: #ffffff;
	padding: 2rem 0;
	box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.36);

	position: fixed;
	left: 0;
	top: 0;
	right: 0;
}

.header a{
	color: #515151;;
	text-decoration:none;
}

.logo-nav-container {
	//display: flex;
	justify-content: space-beetween;
	align-items: center;
	flex-wrap: wrap;
}

.logo {
	float: left;
}

.logo img {
	width: 20%;	
	float: left;
}

.menu-icon img{
	display: none;
}

.navigation{
	float: right;
}

.navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.navigation ul li {
	display: inline-block;
}

.navigation ul li a {
	display: block;
	padding: 0.5rem 1rem;
	transition: all 0.4s linear;
	border-radius: 5px;
}

.navigation ul li a:hover {
	background: #8fd7e9ab;
}

.main {
	padding-top: 12rem;
}



/*@media only screen and (max-width: 767px) {
	.menu-icon {
		display: block;
		cursor: pointer;
		padding: 0.5rem 1rem;
	}

	.menu-icon img{
		display: block;
		position: relative;
		float: right;
		width: 15%;
		align-items: right;
	}

	.navigation {
		width: 100%;
		margin-top: 1rem;
	}


	.navigation ul {
		display: none;
	}

	.navigation ul.show {
		display: block;
	}

	.navigation ul li {
		display: block;
	}

	.navigation ul li a {
		background: #4a4a4a;
	}
}*/

//https://www.youtube.com/watch?v=ys2kaK8HgnA